body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 1440px;
  height: 3300px;
}

.header {
  background-color: #ffffff;
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.nav-logo {
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.span-logo {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.top-line-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
}

.top-line-link {
  color: #2e2f42;
  text-decoration: none;
}

.top-line-link:hover {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.top-line-link:focus {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.address {
  font-style: normal;
  color: #434455;
}
.address-list {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  text-decoration: none;
}

.address-item {
}
.address-link {
  color: #434455;
  text-decoration: none;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  border: 60px;
}
.hero-button {
  background-color: #4d5ae5;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.section-features {
  background-color: #fff;
}

.features-title {
}
.features-list {
  list-style: none;
}
.features-item {
}
.features-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.features-desc {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.section-team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list {
  list-style: none;
}
.team-item {
  background-color: #fff;
}
.team-img {
}
.team-caption {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-desc {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.section-portfolio {
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.portfolio-list {
  list-style: none;
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-desc {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-span-logo {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
